@use 'sass:math';
@use 'functions.scss' as f;
@use 'variables';




@mixin container($div-color) {
    border:f.converter(1) solid $div-color;
}
    
     
 
 
 @mixin article ($size,$color,$border-color:red){
     
    
    font-size: $size;
     color: $color;
     border: 1px solid $border-color;
     
 }
 
 
 
 .container{
   @include container(red);
     h1{
         color:green;
         text-decoration: underline;
         text-decoration-color: blue;
         text-align: center;
         
     }
 }
 article{
     padding:f.converter(10) f.converter(10) f.converter(10) f.converter(15)

     
 }
 
 
 .blue{
 @include article(f.converter(16),blue,green)
 }
 
 .red{
     @include article(f.converter(16),red,green)
 }
 
 .footer{
     @include article(f.converter(24),green,blue)
 }
 
 .sec1{
     padding: 0 f.converter(20) f.converter(20) f.converter(20);
     gap: 1rem;
    display: flex;
    
 }
 
 .sec2{
     margin: 0 f.converter(10) f.converter(10) f.converter(10);
 }
 
 